.contacts__vk{
    background-image: url("../../image/VK-Text-Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 300px;
    height: 52px;
    flex-shrink: 0;
    margin: 50px auto;
    padding: 0;

    display: flex;
}