.girl{
    justify-content: center;
    min-width: 175px;
    min-height: 500px;

    background-image: url("../../image/model-0.jpg");
    background-size: contain;
    background-repeat: no-repeat;

    margin: 0 auto;
    padding: 0; 
    display: flex;
    position: relative;
    flex-direction: column;

}