.model{
    width: 250px;
    height: 600px;

    background-color: #EAEAEA;
    border-radius: 25px;
    margin: 0 auto;
    padding: 0;
    
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}